[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
flake8-blind-except = "*"
flake8-debugger = "*"
flake8-docstrings = "*"
flake8-isort = "*"
flake8-import-order = "*"
flake8-quotes = "*"
isort = "*"
pep8-naming = "*"
autopep8 = "*"
sphinx = "*"
docutils = "*"
pyparsing = "*"

[packages]
"discord.py" = {extras = ["voice"], version = "*"}
emoji = "*"
croniter = "*"
hashids = "*"
aiofiles = "*"
pytz = "*"
tabulate = {extras = ["widechars"],version = "*"}
python-dateutil = "*"
oauth2client = "*"
google-cloud-language = "*"
aiohttp = "==3.7.4.post0"
pynacl = "*"

[requires]
python_version = "3.8"
